<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="icynote.ui">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
     TODO: Depending on your app's features, enable some Android features here
               such as backups or search indexing
    -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".EmailPasswordLogin"
            android:label="@string/label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".GoogleSignIn"/>
        <activity android:name=".SignOut"/>
        <activity android:name=".GoogleLinkCredentials"/>
        <activity android:name=".GoogleUnLinkCredentials"/>
        <activity android:name=".MainActivity"/>

        <activity android:name=".Preferences"/>
    </application>
</manifest>
