<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="icynote.ui">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".login_activities.LoginMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".login_activities.EmailPasswordLogin"
            android:label="@string/label_email_password"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".BlankActivity"/>

        <activity android:name=".ActivityWithProgressDialog"/>

        <activity android:name=".login_activities.GoogleSignIn"/>
        <activity android:name=".login_activities.SignOut"/>
        <activity android:name=".login_activities.GoogleLinkCredentials"/>
        <activity android:name=".login_activities.GoogleUnLinkCredentials"/>
        <activity android:name=".login_activities.GoogleClient"/>
        <activity android:name="icynote.plugins.GoogleDriveExport$GoogleDriveCreateFileActivity"/>

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name="icynote.plugins.PictureEditor"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".Preferences"
            android:windowSoftInputMode="stateHidden" />


        <activity android:name=".view.MockEditNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.MockMetadataNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.MockNotesList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="icynote.ui.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>

